streamlit
yfinance
pandas
numpy
scikit-learn
xgboost
scipy
statsmodels
pyts
matplotlib
plotly
alpaca-trade-api
streamlit-extras
streamlit-aggrid
streamlit-plotly-events
streamlit-authenticator
streamlit-lottie
pandas-ta
streamlit-option-menu
fastapi
uvicorn[standard]