streamlit
yfinance
pandas
numpy
scikit-learn
xgboost
scipy
statsmodels
pmdarima
pyts
matplotlib
plotly
alpaca-trade-api
alpaca-py
streamlit-extras
streamlit-aggrid
streamlit-plotly-events
streamlit-authenticator
streamlit-lottie
pandas-ta
streamlit-option-menu
fastapi
uvicorn[standard]
python-dotenv
tensorflow>=2.13.0,<2.17.0